header
{
    width: 100%;
    height: 500px;
    background-color: rgb(105, 105, 105);
    justify-content: center;
}


.search-bar
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }

    input
    {
        width: 700px;
        height: 50px;
       font-size: 20px;
       border-radius: 20px;
       border: 2px solid green;
       padding-left: 50px;
       

    }

    button
    {
        height: 50px;
        width: 200px;
        font-size: 20px;
        border-radius: 15px;
        border: 2px solid green;
        margin-left: 10px;
    }
.logo {
    flex: 1;
}
.imgBanner
{
    width: 100%;
    
}

.iconeSearch
{
    margin-left: -680px;
    margin-right: 680px;
    color: green;
    font-size: 25px;
}